*{  
    padding: 0;
    margin: 0;
    font-size: 'poppins',sans-serif;
    box-sizing: box-shadow;

}
.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg,#08001f,#30197d);
    color: #fff;
    position: relative;
}
.container{
    width: 800px;
    height: 180px;
    background-color: ;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.clock{
    width: 50%;
    height: 50%;
    border-radius: 10px;
    display: flex;
    background: rgba(235,0,255,0.11);
    align-items: center;
    justify-content: center;margin-left: 200px;
    font-size: large;
    backdrop-filter: blur(40px);
    
}
.container::before{
    content:'';
    width:80px ;
    height:80px ;
    background: #f41b75;
    border-radius: 5 px;
    position: absolute;
  left: -50px;
  top: -20px;
  z-index: -1;
  margin-left: 210px;
  margin-bottom: 200px;
  backdrop-filter: blur(40px);

  

}
.h1{
    justify-content: center;
    align-items: center;
    margin-left: 250px;
}

.container::after{
    content:'';
    width:80px ;
    height:80px ;
    background: #419aff;
    border-radius: 50%;
    position: absolute;
  right: -30px;
  bottom: 60px;
  z-index: -1;
  margin-right:210px;
  margin-top: 900px;
  backdrop-filter: blur(40px);
  

}
.clock span{
    font-size: 50px;
    display: inline-block;
    margin-bottom: 20px;
}
.clock span::after{
    content: '';
    font-size:16px;
    position: absolute;
    bottom: 9px;
    left: 50%;
    transform: translateX(-50%);
}
#hour::after{
    content: 'HOURS';
    transform: translateX(-160%);1
    
}
#minit::after{
    content:' MINS';
    
}
#second::after{
    content: 'SECS';
    transform: translateX(120%);
}
